include README.md
include LICENSE
include CHANGELOG.md
recursive-include examples *.py *.yaml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude test *
prune test
prune knowledge
